.card-title{
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
} 

.card{
    margin-top: -130px;
    display: flex;
    justify-items: center;
    border-radius: 20px 20px 30px 30px;
   margin-bottom: 50px;
    
    box-shadow: 5px 5px 15px #278bc5;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in

    
}
.imgcard1{
    position: flex;
    height: 350px;
}

.card:hover{
   background: #2e857d;
   color: white;
   border-radius: 20px 20px 20px 20px; 
   border: none;
   box-shadow: 5px 5px 15px #9E9E9E;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    height: 250px;
    overflow: hidden;
    
}
 
 
 
 
 .card-text:last-child {
    margin-bottom: 0;
    text-align: center;
    padding: 0.5px 20px;
    padding-bottom: 20px;
}