/* .card1-title{
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
} 

.card1{
  margin-top: 40px;
  display: flex;
  justify-items: center;
  border-radius: 20px 20px 30px 30px;
  box-shadow: 5px 5px 15px #278bc5;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  
  height: 450px;
  width: 380px;
  

  
}
.imgcard111{
  position: flex;
  height: 450px;
  border-radius: 20px 20px 30px 30px;
  width: 380px;
  
  
}

.card1:hover{
 background: #548580;
 color: white;
 border-radius: 20px 20px 20px 20px; 
 border: none;
 box-shadow: 5px 5px 15px #9E9E9E;
}
.card1-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  height: 300px;
  overflow: hidden;
}
.btnns{
  display: flex;
  border: 1px solid #363a3a;
  background: none; 
  color: #493535 ;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.8s;
  text-align: center;
  padding: 9px;
  justify-content: center;
  margin-left: 30%;
  margin-right: 50%; 
  position: relative;
  overflow: hidden; 
  width: 130px;
  height: 50px;
  border-radius: 25px;
  transition: .6s;
  
  padding-bottom: 5px;
  text-shadow: 3px 0px 10px #007c90;


}
.btnns:hover{
  background: #f5f5f5;
  cursor: pointer;
}



.card1-text:last-child {
  margin-bottom: 0;
  text-align: center;
  padding: 0.5px 20px;
  padding-bottom: 20px;
} */


.card-title{
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 line-height: 45px; /* fallback */
 max-height: 45px; /* fallback */
 -webkit-line-clamp: 1; /* number of lines to show */
 -webkit-box-orient: vertical;
} 

.card1{
  margin-top: -40px;
  display: flex;
  justify-items: center;
  border-radius: 20px 20px 30px 30px;
  box-shadow: 5px 5px 15px #278bc5;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  margin-bottom: 50px;
  

  
}
.imgcard11{
  position: flex;
  height: 500px;
  border-radius: 20px 20px ;
}

.card:hover{
 background: #548580;
 color: white;
 border-radius: 20px 20px 20px 20px; /*5*/
 border: none;
 box-shadow: 5px 5px 15px #9E9E9E;
}
.card1-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  height: 400px;
  overflow: hidden;
}
.btnns{
  display: flex;
  border: 1px solid #363a3a;
  background: none; 
  color: #493535 ;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.8s;
  text-align: center;
  padding: 9px;
  justify-content: center;
  margin-left: 30%;
  margin-right: 50%; 
  position: relative;
  overflow: hidden; 
  width: 130px;
  height: 50px;
  border-radius: 25px;
  transition: .6s;
  
  padding-bottom: 5px;
  text-shadow: 3px 0px 10px #007c90;


}
.btnns:hover{
  background: #f5f5f5;
  cursor: pointer;
}

.card-text{
  word-break: break-word;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 line-height: 23px; /* fallback */
 max-height: 165px; /* fallback */
 -webkit-line-clamp: 7; /* number of lines to show */
 -webkit-box-orient: vertical;
}

.card-text:last-child {
  margin-bottom: 0;
  text-align: center;
  padding: 0.5px 20px;
  padding-bottom: 20px;
}