/* 
h1.Packagess{
    
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    color: rgb(66, 65, 65);
}
.Packagess{
    
    
    color: rgb(66, 65, 65);
} */


h1.Servicess{
    
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    color: rgb(66, 65, 65);
}

