body{
   
    padding: 0 0;
}
.mb-0, .h6 {
    color: rgba(255, 255, 255, 0.753) !important;
    font-size: 1rem;
}
.page-footer{
    margin-bottom: -24px;
    background: url('https://drive.google.com/uc?export=view&id=1IX7yhEcMT6lGE37U-0pEAB5DNNKH9sL1');
}

.contacts{
    text-transform: uppercase; 
    font-weight: bold;
    color: rgba(245, 245, 245, 0.787);
}
.company{
    color: rgba(245, 245, 245, 0.726);
}
.copyrights{
    color: rgba(245, 245, 245, 0.603);
}
.footer p{
    margin-bottom: 0;
}